/* здесь используйте глобальные переменные */

$primary-font-family: "Montserrat", "Arial", sans-serif;
$base-text-color: #333333;
$inexpressive-text-color: #bdbdbd;

$accent-color:#7859cf;
$middle-accent-color:#9070ec;
$light-accent-color: #f0ebff;
$dark-accent-color: #593cac;

$disabled-color: #e2e2e2;

$base-background-color: #ffffff;
$lightest-background-color: #f8f8f8;
$flat-white-background-color: #f3ebe1;
$lavender-background-color: #eae6fc;
$espresso-background-color: #e5e6e8;

$tablet-width: 768px;
$desktop-width: 1440px;
