.catalog {
  background-color: $lightest-background-color;
}

.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 50px 20px 44px;
}

.catalog__title {
  margin: 0 0 4px;
}

.catalog__subtitle {
  margin: 0 0 20px;
}

.catalog__filters {
  margin-bottom: 36px;
}

.catalog__sorting {
  margin-bottom: 16px;
}

.catalog__cards {
  margin-bottom: 0 0 40px;
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    width: $tablet-width;
    padding: 80px 20px 90px;
  }

  .catalog__title {
    margin-bottom: 20px;
  }

  .catalog__filters {
    margin-bottom: 44px;
  }

  .catalog__sorting {
    margin-bottom: 26px;
  }

  .catalog__cards {
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrapper {
    width: $desktop-width;
    padding: 100px 40px 120px;
  }

  .catalog__title {
    margin-bottom: 20px;
  }

  .catalog__filters {
    margin-bottom: 44px;
  }

  .catalog__sorting {
    margin-bottom: 26px;
  }

  .catalog__cards {
    margin-bottom: 70px;
  }
}
