.header {
  position: relative;

  background-color: $base-background-color;
}

.header__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  display: none;

  margin: 0;
}

@media (min-width: $tablet-width) {
  .header__wrapper {
    width: 768px;
    padding: 0 20px;

    column-gap: 67px;
  }
}

@media (min-width: $desktop-width) {
  .header__wrapper {
    width: 1440px;
    padding: 0 40px;

    column-gap: 162px;
    justify-content: flex-start;
  }

  .header__title-wrapper {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  .header__title {
    display: block;

    @include font(12px, 16px, 400, none, $base-text-color);
  }
}

